appdirs==1.4.3
arrow==0.15.5
astroid==2.3.3
attrs==19.3.0
backcall==0.1.0
Beaker==1.11.0
beautifulsoup4==4.8.2
bleach==3.1.1
Brlapi==0.7.0
btrfsutil==1.1.1
CacheControl==0.12.6
caffeine==2.9.4
cairocffi==1.1.0
CairoSVG==2.4.2
ccsm==0.9.14.1
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
cffi==1.14.0
chardet==3.0.4
click==7.1.1
colorama==0.4.3
compizconfig-python==0.9.14.1
contextlib2==0.6.0
cryptography==2.8
cssselect2==0.2.2
cvxopt==1.2.4
cycler==0.10.0
Cython==0.29.15
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.1.1
distlib==0.3.0
distro==1.4.0
dlx==1.0.4
docloud==1.0.375
docplex==2.12.182
entrypoints==0.3
ewmh==0.1.6
fastdtw==0.3.4
feedparser==5.2.1
Flask==1.1.1
Flask-PyMongo==2.3.0
h5py==2.10.0
html5lib==1.0.1
httplib2==0.17.0
idna==2.9
importlib-metadata==1.5.0
inflection==0.3.1
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.1.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.1
joblib==0.14.1
jsonschema==3.2.0
jupyter-client==6.0.0
jupyter-console==6.1.0
jupyter-core==4.6.3
kitchen==1.2.6
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
libvirt-python==5.8.0
lit==0.9.1.dev0
louis==3.13.0
Mako==1.1.2
Markdown==3.1.1
MarkupSafe==1.1.1
marshmallow==3.5.0
marshmallow-polyfield==5.8
matplotlib==3.1.3
mccabe==0.6.1
meson==0.53.2
mistune==0.8.4
more-itertools==8.2.0
mpmath==1.1.0
msgpack==0.6.2
nbconvert==5.6.1
nbformat==4.4.0
nest-asyncio==1.2.3
netifaces==0.10.9
networkx==2.4
notebook==6.0.3
ntlm-auth==1.4.0
numpy==1.18.1
ordered-set==3.1.1
packaging==20.3
pandas==1.0.1
pandocfilters==1.4.2
parso==0.6.2
pep517==0.8.1
persepolis==3.2.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==6.2.1
playsound==1.2.2
ply==3.11
pokemon-terminal==1.2.0
progress==1.5
prometheus-client==0.7.1
prompt-toolkit==3.0.4
psutil==5.7.0
ptyprocess==0.6.0
pwquality==1.4.2
pyalpm==0.9.1
pybind11==2.4.3
pycairo==1.19.1
pycparser==2.19
Pygments==2.6.1
PyGObject==3.36.0
pylint==2.4.4
pymongo==3.10.1
pyparsing==2.4.6
PyQt5==5.14.1
PyQt5-sip==12.7.1
pyrsistent==0.15.7
pyscf==1.7.1
python-dateutil==2.8.1
python-xlib==0.26
pytoml==0.1.21
pytz==2019.3
PyYAML==5.3
pyzmq==19.0.0
qiskit==0.16.0
qiskit-aer==0.4.0
qiskit-aqua==0.6.4
qiskit-ibmq-provider==0.5.0
qiskit-ignis==0.2.0
qiskit-terra==0.12.0
qtile==0.14.2
Quandl==3.5.0
rados==2.0.0
ranger-fm==1.9.3
rbd==2.0.0
regex==2020.2.20
requests==2.23.0
requests-ntlm==1.1.0
retrying==1.3.3
rgw==2.0.0
rtv==1.27.0
schedule==0.6.0
scikit-learn==0.22.2
scipy==1.4.1
scons==3.1.2
Send2Trash==1.5.0
setproctitle==1.1.10
six==1.14.0
soupsieve==1.9.5
sympy==1.5.1
team==1.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tinycss2==1.0.2
toml==0.10.0
tornado==6.0.4
traitlets==4.3.3
urllib3==1.25.8
virtualenv==16.1.0
vrms-arch==1.0
wcwidth==0.1.8
webencodings==0.5.1
websockets==7.0
Werkzeug==1.0.0
widgetsnbextension==3.5.1
wrapt==1.11.2
xcffib==0.9.0
youtube-dl==2020.3.8
zipp==3.1.0
